@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Poppins",sans-serif;
    background-color: #fff;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

ul{
    list-style-type: none;
}

button{
    border-radius: 5px;
    padding: 17px 30px;
    background-color: rgb(60, 195, 60);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}